node_modules
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.so
*.dll
*.exe
*.zip
dist/
build/
.venv/
venv/
env/
ENV/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
.vscode/
.DS_Store
Thumbs.db
